## Упражнение 1

In [2]:
#Создание таблицы Books
CREATE TABLE Books (
    id INT PRIMARY KEY,
    author VARCHAR(100),
    title VARCHAR(100),
    publish_year INT
);

#Заполнение таблицы Books
INSERT INTO Books (id, author, title, publish_year) VALUES
(1, 'Федор Достоевский', 'Преступление и наказание', 1866),
(2, 'Лев Толстой', 'Война и мир', 1869),
(3, 'Александр Пушкин', 'Евгений Онегин', 1833);

#Создание таблицы Readers
CREATE TABLE Readers (
    id INT PRIMARY KEY,
    name VARCHAR(100)
);

#Заполнение таблицы Readers
INSERT INTO Readers (id, name) VALUES
(1, 'Иван Иванов'),
(2, 'Петр Петров'),
(3, 'Мария Сидорова');

#Создание таблицы Records
CREATE TABLE Records (
    reader_id INT,
    book_id INT,
    taking_date DATE,
    returning_date DATE,
    FOREIGN KEY (reader_id) REFERENCES Readers(id),
    FOREIGN KEY (book_id) REFERENCES Books(id)
);

#Заполнение таблицы Records
INSERT INTO Records (reader_id, book_id, taking_date, returning_date) VALUES
(1, 1, '2022-01-15', '2022-02-10'),
(2, 2, '2022-02-01', '2022-03-05'),
(3, 3, '2022-03-10', '2022-04-15');

SyntaxError: invalid syntax (1488143757.py, line 2)

## Упражнение 2

In [ ]:
#1
SELECT id, название_книги
FROM выдачи
WHERE дата_возврата IS NULL;

#2
SELECT читатель.имя AS имя_читателя, книги.название AS название_книги
FROM выдачи
JOIN читатель ON выдачи.id_читателя = читатель.id
JOIN книги ON выдачи.id_книги = книги.id;

#3
SELECT автор, COUNT(*) AS количество_книг
FROM книги
GROUP BY автор;